asgiref==3.11.1
Django==6.0.6
django-ckeditor-5==0.2.20
django-jalali-date==2.0.0
django-render-partial==0.4
jdatetime==5.3.0
Pillow==12.2.0
pytz==2026.2
requests==2.34.2
sorl-thumbnail==13.0.0
sqlparse==0.5.5
typing-extensions==4.15.0
